body {
    padding-top: 80px;
}

.movie-tile {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 420px;
    overflow: hidden;
}

.movie-tile:hover {
    background-color: #EEE;
    cursor: pointer;
}
